/* Import Lato Font */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");


/* Font Variable */
$font: 'Open Sans', sans-serif;

/* Colour Setup */
$blue: #1592E6;
$lightBlue: #15aafe;
$textGrey: #777777;
$headerGrey: #F5F5F5;
$darkGrey: #252525;
$darkerWhite: #dcdcdc;
$greyBorder: #E2E2E2;

html{
  height: 100%;
}
body{
  min-height: 100%;
}


html, body, header, footer, div{
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, li{
  margin: 0px;
  padding: 0px;
  font-family: $font;
}
h1{
  font-size: 2.5em;
  font-weight: 400;
}
h2{
  font-size: 2em;
  font-weight: 300;
}
h3{
  font-size: 1.5em;
  font-weight: 300;
}
h4{
  font-size: 1.2em;
  font-weight: 300;
}
h5{
  font-size: 0.8em;
  font-weight: 300;
}
p{
  font-size: 0.7em;
  font-weight: 300;
}

strong{
  font-weight: 700;
}

.container{
  width: 80%;
  margin: auto;
}

ul{
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  padding: 10px 20px;
  -webkit-appearance: none;
  font-size: 1em;
  transition: all 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  &.__blue{
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px;
    &:hover{
      background-color: white;
      color: black;
    }
  }
  &.__white-solid{
    background-color: white;
    color: black;
    &:hover{
      background-color: white;
    }
  }
  &capitalize{
    text-transform: uppercase !important;
  }
}

.capitalize{
  text-transform: uppercase !important;
}
.uppercase{
  text-transform: uppercase;
}

hr{
  height: 4px;
  width: 50px;
  outline: none;
  border: none;
  &.white{
    background-color: white;
  }
  &.black{
    background-color: black;
  }
  &.blue{
    background-color: $blue;
  }
}

.vert-line{
  margin: 0px 3px;
}

/* Vertical & Horizontal Positioners */
.vertC{
  &__relative{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &__absolute{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.horizC{
  &__relative{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &__absolute{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bothC{
  &__relative{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.float{
  &__left{
    float:left;
  }
  &__right{
    float:right;
  }
}

/* Grid Setups */
.grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .grid-item{
    box-sizing: border-box;
  }
}

/* Overlays */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  &.blue{
    background-color: $blue;
    opacity: 0.7;
  }
}

/* MIXINS */
@mixin background-image($url, $size, $position, $repeat){
  background-image: url($url);
  -moz-background-image: url($url);
  -webkit-background-image: url($url);
  background-size: $size;
  -moz-background-size: $size;
  -webkit-background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

body{
  height: 100%;
  display: flex;
}

.bar-left, .page{
  display: inline-block;
  vertical-align: top;
}

.page{
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

#main{
  width: 90%;
  margin: auto;
  position: relative;
}

