@import "default";

/* MODULES */

@import "modules/nav";
@import "modules/bar-left";
@import "modules/component";

/* PAGE SPECIFIC */
@import "modules/floating-box";

/* Main App CSS */


.typeform{
  margin: auto;
  text-align: center;
  button{
    margin: 40px auto;
  }
}