<div class="component component__announcement">
    <div class="component__announcement__left">
        <img class="bothC__relative" src="/img/icons/announcement.svg"/>
    </div>
    <div class="component__announcement__right">

        <% ann.forEach(function(item) { %>

        <p><%= item.title %> - <%= item.date %></p>

        <% }); %>


    </div>
</div>