html{
  overflow: hidden;
}

html, body{
  width: 100%;
  height: 100%
}

body{
  background-color: #f9f9f9;
}


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font: 'Lato', sans-serif;
$green: #3eb991;
$darkGreen: #57aa87;

h1, h3{
  margin: 0px;
  padding: 0px;
  font-family: $font;
}

#main{
  .main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    margin: auto;
    img{
      width: 50%;
    }
    h1{
      font-size: 50px;
      padding: 40px 0px 20px 0px;
      font-weight: 300;
      letter-spacing: 2px;
    }
    h3{
      font-size: 25px;
      font-weight: 300;
    }

    button{
      -webkit-appearence: none;
      padding: 15px 25px;
      font-size: 18px;
      background-color: $green;
      outline: none;
      border: none;
      border-radius: 2px;
      color: white;
      font-family: $font;
      margin: 40px;
      transition: all 0.3s ease;
      cursor: pointer;
    }
    button:hover{
      background-color: $darkGreen;
    }
  }
}

.reference{
  margin: 10px 0px 15px 0px;
  .website{
    font-weight: bold;
  }
}

@media screen and (max-height: 650px){
  #main{
    .main-content{
      img{
        width: 90%;
      }
      h1{
        font-size: 45px;
      }
      h3{
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 830px){
  #main{
    .main-content{
      img{
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 600px){
  #main{
    .main-content{
      h1{
        font-size: 35px
      }
      h3{
        font-size: 20px
      }
    }
  }
}
