/* Import Lato Font */
@font-face {
  font-family: 'Solomon-thin';
  src: url("../public/font/solomon-thin.ttf"), local("truetype"); }
@font-face {
  font-family: 'Solomon-light';
  src: url("../public/font/solomon-light.ttf"), local("truetype"); }
@font-face {
  font-family: 'Solomon-bold';
  src: url("../public/font/solomon-bold.ttf"), local("truetype"); }
@font-face {
  font-family: 'Solomon-black';
  src: url("../public/font/solomon-black.ttf"), local("truetype"); }
/* Font Variable */
/* Colour Setup */
html {
  height: 100%; }

body {
  min-height: 100%; }

html, body, header, footer, div {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%; }

h1, h2, h3, h4, h5, h6, p, a, li {
  margin: 0px;
  padding: 0px;
  font-family: "Solomon-light", sans-serif; }

h1 {
  font-size: 2.5em;
  font-weight: 400; }

h2 {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 300; }

h4 {
  font-size: 1.2em;
  font-weight: 300; }

h5 {
  font-size: 0.8em;
  font-weight: 300; }

p {
  font-size: 0.7em;
  font-weight: 300; }

strong {
  font-weight: 700; }

.container {
  width: 80%;
  margin: auto; }

ul {
  margin: 0px; }

a {
  text-decoration: none;
  color: inherit; }

button {
  padding: 10px 20px;
  -webkit-appearance: none;
  font-size: 1em;
  transition: all 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
  outline: none; }
  button.__blue {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 3px; }
    button.__blue:hover {
      background-color: white;
      color: black; }
  button.__white-solid {
    background-color: white;
    color: black; }
    button.__white-solid:hover {
      background-color: white; }
  buttoncapitalize {
    text-transform: uppercase !important; }

.capitalize {
  text-transform: uppercase !important; }

.uppercase {
  text-transform: uppercase; }

hr {
  height: 4px;
  width: 50px;
  outline: none;
  border: none; }
  hr.white {
    background-color: white; }
  hr.black {
    background-color: black; }
  hr.blue {
    background-color: #1592E6; }

.vert-line {
  margin: 0px 3px; }

/* Vertical & Horizontal Positioners */
.vertC__relative {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
.vertC__absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.horizC__relative {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
.horizC__absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.bothC__relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
.bothC__absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/* Grid Setups */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .grid .grid-item {
    box-sizing: border-box; }

/* Overlays */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%; }
  .overlay.blue {
    background-color: #1592E6;
    opacity: 0.7; }

/* MIXINS */
/* MODULES */
.nav {
  height: 70px;
  overflow: hidden;
  border-bottom: 2px solid #E2E2E2; }
  .nav__container {
    width: 50%;
    margin: auto;
    text-align: center; }
    .nav__container img, .nav__container h3 {
      display: inline-block;
      vertical-align: middle; }
    .nav__container img {
      width: 40px;
      height: 40px;
      margin-right: 20px; }

.bar-left {
  width: 70px;
  height: 100%;
  background-color: red; }

.component {
  box-shadow: #E2E2E2 0px 2px 4px;
  overflow: hidden;
  width: 90%;
  height: 100px;
  box-sizing: border-box;
  margin: 20px auto; }
  .component__left {
    width: 20%;
    background-color: #F5F5F5; }
    .component__left img {
      width: 50px;
      height: 50px; }
  .component__right {
    width: 80%;
    text-align: center;
    padding: 10px; }
  .component__flex {
    display: flex;
    height: 100%; }
  .component__time {
    display: flex; }
    .component__time__title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold; }
  .component__announcement {
    max-height: 650px;
    height: 200px;
    overflow: hidden; }
    .component__announcement__right {
      text-align: left;
      padding: 0px;
      overflow-x: scroll;
      height: inherit; }
      .component__announcement__right__item {
        border-bottom: 1px solid #E2E2E2;
        padding: 8px; }
        .component__announcement__right__item__header h4, .component__announcement__right__item__header p, .component__announcement__right__item__header h5 {
          display: inline-block;
          vertical-align: middle; }
        .component__announcement__right__item__header h4 {
          font-weight: bold; }
        .component__announcement__right__item__header h5 {
          font-weight: bold;
          color: red;
          padding: 0px 3px; }
      .component__announcement__right__item:nth-last-child(1) {
        border-bottom: 0px; }
      .component__announcement__right__item:first-child h5 {
        display: inline-block !important; }

/* Main App CSS */
body {
  height: 100%;
  display: flex; }

.bar-left, .page {
  display: inline-block;
  vertical-align: top; }

.page {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
