/* Import Lato Font */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* Font Variable */
/* Colour Setup */
html {
  height: 100%; }

body {
  min-height: 100%; }

html, body, header, footer, div {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%; }

h1, h2, h3, h4, h5, h6, p, a, li {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.5em;
  font-weight: 400; }

h2 {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 1.5em;
  font-weight: 300; }

h4 {
  font-size: 1.2em;
  font-weight: 300; }

h5 {
  font-size: 0.8em;
  font-weight: 300; }

p {
  font-size: 0.7em;
  font-weight: 300; }

strong {
  font-weight: 700; }

.container {
  width: 80%;
  margin: auto; }

ul {
  margin: 0px; }

a {
  text-decoration: none;
  color: inherit; }

form {
  font-family: "Open Sans", sans-serif; }

button, .button {
  padding: 10px 20px;
  -webkit-appearance: none;
  font-size: 1em;
  transition: all 0.3s ease;
  text-transform: capitalize;
  cursor: pointer;
  outline: none; }
  button.__blue, .button.__blue {
    color: white;
    background-color: #15aafe;
    border-radius: 3px;
    border: none; }
    button.__blue:hover, .button.__blue:hover {
      background-color: #1592E6;
      color: white; }
  button.__white-solid, .button.__white-solid {
    background-color: white;
    color: black; }
    button.__white-solid:hover, .button.__white-solid:hover {
      background-color: white; }
  buttoncapitalize, .buttoncapitalize {
    text-transform: uppercase !important; }

.capitalize {
  text-transform: uppercase !important; }

.uppercase {
  text-transform: uppercase; }

hr {
  height: 4px;
  width: 50px;
  outline: none;
  border: none; }
  hr.white {
    background-color: white; }
  hr.black {
    background-color: black; }
  hr.blue {
    background-color: #1592E6; }

.vert-line {
  margin: 0px 3px; }

/* Vertical & Horizontal Positioners */
.vertC__relative {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.vertC__absolute {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.horizC__relative {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.horizC__absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.bothC__relative {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.bothC__absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.float__left {
  float: left; }

.float__right {
  float: right; }

/* Grid Setups */
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .grid .grid-item {
    box-sizing: border-box; }

/* Overlays */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%; }
  .overlay.blue {
    background-color: #1592E6;
    opacity: 0.7; }

/* MIXINS */
body {
  height: 100%;
  display: flex; }

.bar-left, .page {
  display: inline-block;
  vertical-align: top; }

.page {
  width: 100%;
  overflow: auto;
  padding-bottom: 20px; }

#main {
  width: 90%;
  position: relative;
  margin: 120px auto 0px auto; }

/* MODULES */
.nav {
  height: 70px;
  overflow: hidden;
  width: calc(100% - 70px);
  position: fixed;
  z-index: 1000;
  background-color: white;
  border-bottom: 2px solid #E2E2E2; }
  .nav__container {
    width: 50%;
    margin: auto;
    text-align: center; }
    .nav__container img, .nav__container h3 {
      display: inline-block;
      vertical-align: middle; }
    .nav__container img {
      width: 40px;
      height: 40px;
      margin-right: 20px; }

nav {
  width: 100%; }

.logout {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: auto; }
  .logout h4 {
    text-align: right; }

.side-bar {
  width: 80px;
  height: 100%;
  background-color: #F5F5F5;
  border-right: 2px solid #E2E2E2; }
  .side-bar__active > .side-bar__item {
    background-color: #1592E6; }
    .side-bar__active > .side-bar__item p {
      color: white; }
  .side-bar__item:hover {
    background-color: #15aafe; }
  .side-bar__item {
    transition: all 0.3s ease;
    position: relative;
    height: 80px;
    box-sizing: border-box;
    text-align: center; }
    .side-bar__item img {
      margin-top: 10px;
      width: 50%; }
    .side-bar__item p {
      color: black; }

.component {
  box-shadow: #E2E2E2 0px 2px 4px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E2E2E2; }
  .component__left {
    width: 20%;
    background-color: #F5F5F5;
    text-align: center; }
    .component__left h4 {
      padding: 10px 0px;
      font-weight: 500;
      letter-spacing: 1px; }
    .component__left img {
      width: 50px;
      height: 50px; }
  .component__right {
    width: 80%;
    text-align: center;
    padding: 10px; }
  .component__flex {
    display: flex;
    height: 100%; }
  .component__one-third {
    width: 30%;
    display: inline-block;
    margin: 0px; }
  .component__two-third {
    width: 67%;
    display: inline-block;
    margin: 0px; }
  .component__header {
    text-align: center;
    background-color: #F5F5F5; }
    .component__header h3 {
      padding: 10px 0px;
      font-weight: 500;
      letter-spacing: 1px; }
  .component__time {
    display: flex; }
    .component__time__title {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold; }
  .component__announcement {
    max-height: 650px;
    height: 200px;
    overflow: hidden; }
    .component__announcement__right {
      text-align: left;
      padding: 0px;
      overflow-x: scroll;
      height: inherit; }
      .component__announcement__right > div:first-child h5 {
        display: inline-block !important; }
      .component__announcement__right__item {
        border-bottom: 1px solid #E2E2E2;
        padding: 8px; }
        .component__announcement__right__item h4 {
          font-size: 1.0em; }
        .component__announcement__right__item__header h4, .component__announcement__right__item__header p, .component__announcement__right__item__header h5 {
          display: inline-block;
          vertical-align: middle; }
        .component__announcement__right__item__header h4 {
          font-weight: 600;
          color: #252525;
          opacity: 0.8; }
        .component__announcement__right__item__header h5 {
          font-weight: bold;
          color: red;
          padding: 0px 3px; }
      .component__announcement__right__item:nth-last-child(1) {
        border-bottom: 0px; }
  .component__workshops__list {
    overflow-y: scroll;
    max-height: 400px; }
  .component__workshops__item {
    padding: 20px 15px;
    width: auto; }
    .component__workshops__item img {
      width: 40px;
      height: 40px;
      border-radius: 360px;
      display: inline-block;
      vertical-align: middle; }
    .component__workshops__item__info {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
      margin-left: 10px; }
  .component__timetable {
    max-height: 400px;
    overflow-y: scroll; }

.component-container {
  margin: 20px auto 0px auto; }
  .component-container__one-third {
    position: relative;
    width: 28%;
    display: inline-block; }
    .component-container__one-third div {
      vertical-align: top; }
  .component-container__two-third {
    position: relative;
    width: 68%;
    display: inline-block;
    vertical-align: top; }
    .component-container__two-third div {
      vertical-align: top; }
  .component-container__left {
    float: left; }
  .component-container__right {
    float: right; }

@media screen and (max-width: 1030px) {
  .component__left h4 {
    display: none !important; } }

/* PAGE SPECIFIC */
.floating-box {
  border: 1px solid #E2E2E2;
  box-shadow: #E2E2E2 0px 2px 4px;
  background-color: #F5F5F5; }
  .floating-box__small {
    width: 40%;
    margin: auto; }
  .floating-box__large {
    width: 60%;
    margin: auto;
    padding: 30px 0px;
    box-sizing: border-box; }
    .floating-box__large form {
      width: 80%;
      margin: auto; }
      .floating-box__large form input, .floating-box__large form textarea {
        margin: 10px auto 0px auto;
        width: 100%; }
      .floating-box__large form textarea {
        margin: 30px auto;
        min-height: 200px;
        width: 100%;
        max-width: 100%;
        max-height: 300px; }
      .floating-box__large form input[type="submit"] {
        margin-top: 30px;
        display: inline-block;
        width: 30%; }
      .floating-box__large form input[type="checkbox"] {
        width: 20px;
        margin: 0px !important; }
    .floating-box__large__icon {
      margin: 20px auto; }
      .floating-box__large__icon img {
        width: 60px;
        height: 60px; }
  .floating-box__send-text__content, .floating-box__event__content {
    text-align: center; }
    .floating-box__send-text__content p, .floating-box__event__content p {
      font-size: 13px; }
    .floating-box__send-text__content form textarea, .floating-box__send-text__content form input, .floating-box__event__content form textarea, .floating-box__event__content form input {
      display: block; }
    .floating-box__send-text__content form input[type="checkbox"], .floating-box__send-text__content form p, .floating-box__event__content form input[type="checkbox"], .floating-box__event__content form p {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle; }
    .floating-box__send-text__content form input[type="checkbox"], .floating-box__event__content form input[type="checkbox"] {
      margin-right: 10px; }
    .floating-box__send-text__content form .button, .floating-box__event__content form .button {
      margin: 30px auto; }
    .floating-box__send-text__content form .confirm-text.red, .floating-box__event__content form .confirm-text.red {
      color: red; }
    .floating-box__send-text__content p:nth-last-child(1), .floating-box__event__content p:nth-last-child(1) {
      padding: 0px 10% 35px 10%; }
  .floating-box__event form {
    width: 80%;
    margin: auto; }
    .floating-box__event form #time {
      float: left; }
    .floating-box__event form #location {
      float: right; }
    .floating-box__event form .form__add-image {
      margin-top: 10px;
      display: inline-block;
      text-align: left; }
      .floating-box__event form .form__add-image * {
        display: inline-block;
        vertical-align: top; }
      .floating-box__event form .form__add-image__image {
        width: 50px;
        height: 50px;
        background-color: #E2E2E2; }
        .floating-box__event form .form__add-image__image img {
          width: 50%; }
      .floating-box__event form .form__add-image h3 {
        padding: 11px 0px 0px 10px;
        font-size: 18px; }
  .floating-box__event input {
    width: 100%; }
  .floating-box__event input.input-half {
    width: 48%;
    display: inline-block;
    vertical-align: top; }
  .floating-box__announcement textarea {
    margin: 10px auto 20px auto !important; }
  .floating-box__content {
    text-align: center;
    box-sizing: border-box;
    padding: 30px; }
    .floating-box__content img {
      width: 50%;
      text-align: center; }
  .floating-box input[type="text"], .floating-box textarea {
    -webkit-appearance: none;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box; }
  .floating-box__login__icon {
    background-color: #15aafe;
    width: 80px;
    height: 80px;
    border-radius: 360px;
    margin: 15px auto; }
  .floating-box__login h3 {
    padding: 10px; }
  .floating-box__login form input {
    width: 80%;
    display: block;
    margin: 5px auto; }
  .floating-box__login form input[type="text"], .floating-box__login form input[type="password"] {
    -webkit-appearance: none;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    box-sizing: border-box; }
  .floating-box__login form input[type="submit"] {
    width: 30%;
    -webkit-appearance: none;
    outline: none;
    padding: 15px 0px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    background-color: #15aafe;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer; }

/* Main App CSS */
.typeform {
  margin: auto;
  text-align: center; }
  .typeform button {
    margin: 40px auto; }
