<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/admin-dash %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <section id="profile-info">
            <% include ../partials/profile-info %>
            <h2>Welcome to the hackathon organiser tool!</h2>
        </section>

        <section id="admin-controls">
            <div class="admin-controls">
                <a href="/admin/create-event">
                    <div class="floating-box admin-controls__item">
                        <img src="/img/icons/add-event.svg"/>
                        <h3>Add event</h3>
                    </div>
                </a>
                <a href="/admin/send-text">
                    <div class="floating-box admin-controls__item">
                        <img src="/img/icons/send-text.svg"/>
                        <h3>Send text</h3>
                    </div>
                </a>
                <a href="/admin/create-announcement">
                    <div class="floating-box admin-controls__item">
                        <img src="/img/icons/announcement.svg"/>
                        <h3>Announcement</h3>
                    </div>
                </a>
                <a href="/admin/custom-page">
                    <div class="floating-box admin-controls__item">
                        <img src="/img/icons/add-event.svg"/>
                        <h3>Add Page</h3>
                    </div>
                </a>
                <a href="/admin/create-user">
                    <div class="floating-box admin-controls__item">
                        <img src="/img/icons/add-event.svg"/>
                        <h3>Create User</h3>
                    </div>
                </a>
            </div>

            <div class="upload-event floating-box">
                <div class="upload-event__left">
                    <img class="bothC__relative" src="img/icons/upload.svg"/>
                </div>
                <div class="upload-event__right">
                    <div class="vertC__relative">
                        <h3>Upload event</h3>
                        <p>Upload a CSV to instantly load all hackathon attendees to this system. Once done, you can send
                            texts out to any participant that has registered a mobile number.
                        </p>
                        <form id="send-text" method="post" action="/admin/upload-csv" enctype="multipart/form-data">
                            <input type="file" class="button __blue" name="csv"/>
                            <input class="button __blue" type="submit" placeholder="ADD"/>
                        </form>
                    </div>
                </div>
            </div>

        </section>




    </section>
</section>

<% include ../partials/footers/admin-footer %>

</body>
</html>
