<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/admin-dash %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">


        <% include ../partials/profile-info %>


    </section>
</section>

<% include ../partials/footer %>

</body>
</html>
