<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <h1>Welcome <%= name %></h1>

    </section>
</section>

<% include ../partials/footer %>

</body>
</html>
