<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <div class="floating-box floating-box__large floating-box__event vertC__relative">
            <div class="floating-box__event__content">
                <div class="floating-box__large__icon">
                    <img src="/img/icons/add-event.svg"/>
                    <h3>Create Event</h3>
                </div>
                <form id="send-text" method="post">
                    <input type="text" placeholder="Event Name"/>
                    <input class="input-half" type="text" placeholder="Event Time"/>
                    <input class="input-half" type="text" placeholder="Where"/>
                    <input class="button __blue" type="submit" placeholder="ADD"/>
                </form>
            </div>
        </div>

    </section>
</section>

<script>
    $('#send-text').submit(function(e){
        e.preventDefault();
        var confirm = $(this).children('#confirm');
        var checkBox = $(this).children("input[type='checkbox']");
        var confirmText = $(this).children(".confirm-text")
        var messageBox = $(this).children("textarea");
        var message = messageBox.val();
        var data = {
            message: message
        }
        console.log("Text: " + message);
        if(confirm.prop("checked") == true){
            swal({
                title: "Are you sure?",
                text: "This message will be sent to everybody. Please make sure that you are ready to send.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, send it!",
                closeOnConfirm: false
            },
            function(){
                $.ajax({
                    type: 'POST',
                    url: '/admin/send-text-request',
                    data: data,
                    success: function(data){
                        console.log(data);
                        messageBox.val("");
                        checkBox.prop('checked', false);
                        confirmText.removeClass("red");
                        swal({
                            title: "Message Sent!",
                            text: "Your message has been sent out to all participants at this hackathon",
                            type: "success",
                            confirmButtonText: "Great!"
                        });
                    },
                    error: function(data){
                        swal({
                            title: "Message not sent",
                            text: data.responseText,
                            type: "error",
                            confirmButtonText: "Okay"
                        });
                    }
                })
            });
        }
        else{
            confirmText.addClass("red");
        }

    });
</script>

<% include ../partials/footer %>

</body>
</html>
