<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <div class="floating-box floating-box__large floating-box__event vertC__relative">
            <div class="floating-box__event__content">
                <div class="floating-box__large__icon">
                    <img src="/img/icons/add-event.svg"/>
                    <h3>Create Event</h3>
                </div>
                <form id="send-text" method="post" action="/admin/create-event" enctype="multipart/form-data">
                    <input name="name" class="send-text-name" type="text" placeholder="Event Name"/>
                    <input name="time" class="input-half send-text-title" type="text" placeholder="Event Time"/>
                    <input name="location" class="input-half send-text-location" type="text" placeholder="Where"/>
                    <div class="form__add-image">
                        <div class="form__add-image__image">
                            <img class="bothC__relative" src="/img/icons/add-image.svg"/>
                        </div>
                        <h3>Add image</h3>
                    </div>
                    <input type="file" name="upl"/>
                    <input class="button __blue" type="submit" placeholder="ADD"/>
                </form>
            </div>
        </div>

    </section>
</section>

<!--<script>-->
    <!--$('#send-text').submit(function(e){-->
        <!--e.preventDefault();-->
        <!--var confirm = $(this).children('#confirm');-->
        <!--var checkBox = $(this).children("input[type='checkbox']");-->
        <!--var confirmText = $(this).children(".confirm-text")-->
        <!--var messageBox = $(this).children("textarea");-->
        <!--var message = messageBox.val();-->




        <!--var data = {-->
            <!--message: message-->
        <!--}-->
        <!--if(confirm.prop("checked") == true){-->
            <!--$.ajax({-->
                <!--type: 'POST',-->
                <!--url: '/admin/create-event',-->
                <!--data: data,-->
                <!--success: function(data){-->
                    <!--console.log(data);-->
                    <!--messageBox.val("");-->
                    <!--checkBox.prop('checked', false);-->
                    <!--confirmText.removeClass("red");-->
                    <!--swal({-->
                        <!--title: "Message Sent!",-->
                        <!--text: "Your message has been sent out to all participants at this hackathon",-->
                        <!--type: "success",-->
                        <!--confirmButtonText: "Great!"-->
                    <!--});-->
                <!--},-->
                <!--error: function(data){-->
                    <!--swal({-->
                        <!--title: "Message not sent",-->
                        <!--text: data.responseText,-->
                        <!--type: "error",-->
                        <!--confirmButtonText: "Okay"-->
                    <!--});-->
                <!--}-->
            <!--})-->
        <!--}-->
        <!--else{-->
            <!--confirmText.addClass("red");-->
        <!--}-->

    <!--});-->
<!--</script>-->

<% include ../partials/footer %>

</body>
</html>
