<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <div class="floating-box floating-box__large floating-box__event vertC__relative">
            <div class="floating-box__event__content">
                <div class="floating-box__large__icon">
                    <img src="/img/icons/add-event.svg"/>
                    <h3>Create User</h3>
                </div>
                <form id="create-user" enctype="multipart/form-data">
                    <input name="name" id="name" class="send-text-name" type="text" placeholder="Event Username" required/>
                    <input name="email" id="email" class="send-text-name" type="text" placeholder="Event Email" required/>
                    <input name="password" id="password" class="input-half send-text-title" type="password" placeholder="Event Password" required/>
                    <input name="confirm-pass" id="confirm-password" class="input-half send-text-title" type="password" placeholder="Event Password" required/>
                    <input type="file" id="upl" name="upl"/>
                    <input class="button __blue" type="submit" placeholder="ADD"/>
                </form>
            </div>
        </div>

    </section>
</section>

<script>
    $('#create-user').submit(function(e){
        e.preventDefault();
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var confirmPass = document.getElementById("confirm-password").value;
        var upl = document.getElementById("upl").files;

        var formData = new FormData(document.getElementById("create-user"));

        if(password === confirmPass){
            console.log("inside")
            $.ajax({
                type: 'POST',
                url: '/admin/create-user',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data){
                    console.log(data);
                    swal({
                        title: "User " + data.name + ", has been created!",
                        text: data.name + " will now be able to login using their username and password",
                        type: "success",
                        confirmButtonText: "Great!"
                    });
                },
                error: function(err){
                    swal({
                        title: "User not created",
                        text: "An error occurred whilst creating this user: \n" + err,
                        type: "error",
                        confirmButtonText: "Okay"
                    });
                }
            })
        }

    });
</script>

<% include ../partials/footers/admin-footer %>

</body>
</html>
