<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>

  </head>
  <body>

    <% include ../partials/side-bar %>

    <section class="page">
      <nav>
        <% include ../partials/nav %>
      </nav>
      <section id="main">

        <!--<% include ../partials/time-component %>-->


        <!-- Vue Time Component-->
        <div id="time">
          <time-component v-bind:time="timeLeft"></time-component>

        </div>

        <% include ../partials/announcement-component %>

        <% include ../partials/workshops-component %>

        <% include ../partials/timeline-component %>



      </section>
    </section>

    <% include ../partials/footer %>

  </body>
</html>
