<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/side-bar %>

    <section class="page">
      <nav>
        <% include ../partials/nav %>
      </nav>
      <section id="main">

        <% include ../partials/time-component %>

        <% include ../partials/announcement-component %>

        <% include ../partials/workshops-component %>

        <% include ../partials/timeline-component %>



      </section>
    </section>



  </body>
</html>
