<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">
    <nav>
        <% include ../partials/nav %>
    </nav>
    <section id="main">

        Some content be here


    </section>
</section>

<% include ../partials/footer %>

</body>
</html>
