<!DOCTYPE html>
<html>
<head>
    <% include ../partials/headers/login-head %>

</head>
<body>

<% include ../partials/side-bar %>

<section class="page">

    <nav>
        <% include ../partials/nav %>
    </nav>

    <section id="main">

        <div class="floating-box floating-box__small floating-box__login vertC__relative">
            <div class="floating-box__content">
                <div class="floating-box__login__icon">
                    <img class="vertC__relative" src="/img/icons/login.svg"/>
                </div>
                <h3>Admin Login</h3>
                <form action="/login" method="post">
                    <input type="text" name="user" placeholder="Username"/>
                    <input type="password" name="pass" placeholder="Password"/>
                    <input type="submit" placeholder="Login"/>
                </form>
            </div>
        </div>

    </section>
</section>

<% include ../partials/footer %>

</body>
</html>
