<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/headers/index %>

    <link type="text/css" rel="stylesheet" href="./stylesheets/css/modules/timeline.css"/>

  </head>
  <body>

    <% include ../partials/side-bar %>

    <section class="page">
      <nav>
        <% include ../partials/nav %>
      </nav>
      <section id="main">

        <div class="timeline timeline__page">
          <table>

            <tr>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Title</th>
              <th>Description</th>
            </tr>

            <tr>
              <td>Curzon Building</td>
              <td>9:30am</td>
              <td>11am</td>
              <td>Arrival</td>
              <td class="description">Register at the front desk and get settled into the hackathon</td>
            </tr>

            <tr>
              <td>Main Hall</td>
              <td>11am</td>
              <td>12pm</td>
              <td>Opening talk</td>
              <td class="description">We shall brief you on the hackathon and give you any information that you may need!</td>
            </tr>

            <tr>
              <td>Main Hall</td>
              <td>12pm</td>
              <td>Sunday 4pm</td>
              <td>Start hacking</td>
              <td class="description">Hacking can now begin! Make something awesome <3</td>
            </tr>

            <tr>
              <td>Main Hall</td>
              <td>12pm</td>
              <td>12:30pm</td>
              <td>Team Building</td>
              <td class="description">Alex & Pandelis are hosting a team building session in-case anybody does not have a
                team yet. Come along, don't be shy!
              </td>
            </tr>

            <tr>
              <td>Eagle & Ball</td>
              <td>12:30pm</td>
              <td>1:30pm</td>
              <td>Lunch</td>
              <td class="description">Lunch will be served in the Eagle & Ball. Don't worry, we shall announce lunch on
                MesaHub and will lead groups down as and when places are available!
              </td>
            </tr>

            <tr>
              <td>Workshop Room</td>
              <td>2pm</td>
              <td>3pm</td>
              <td>Algolia Workshop</td>
              <td class="description">Pandelis will be doing a workshop on using Algolia, a live search API, to make your
                website a more friendly and produtive experience. This is a powerful tool and one that you do not want
                to miss out on!
              </td>
            </tr>

            <tr>
              <td>Workshop</td>
              <td>3pm</td>
              <td>4pm</td>
              <td>Capgemini Workshop</td>
              <td class="description">Capgemini will be hosting a workshop, be sure to come and check it out!</td>
            </tr>

            <tr>
              <td>Workshop</td>
              <td>4pm</td>
              <td>5pm</td>
              <td>Drawing art with p5.js - Kevin</td>
              <td class="description">Kevin will be walking us through how to draw with the p5.js library. This is a
              rapidly growing library and one which is incredibly powerful. Kevin is a MLH rep and studies at GoldSmiths
              university, this is sure set to be an amazing workshop!</td>
            </tr>

            <tr>
              <td>Eagle & Ball</td>
              <td>6pm</td>
              <td>8pm</td>
              <td>Dinner</td>
              <td class="description">Dinner will be served! Please wait to be called via MesaHub or in person please!</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>8pm</td>
              <td>10pm</td>
              <td>Games Competiton</td>
              <td class="description">Ollie will be hosting a games competition in the main room. Head on over for some chill time
                to relax and play some games with fellow hackers.
              </td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>10pm</td>
              <td>11pm</td>
              <td></td>
              <td class="description">Werewolf will be hosted Kevin, this is a legendary MLH game and will not let down at
                BullHacks!
              </td>
            </tr>

            <tr>
              <td>Workshop Room</td>
              <td>11pm</td>
              <td>12am</td>
              <td></td>
              <td class="description">
                Alex & Pandelis will be doing a short talk on how they built MesaHub, what challenges they faced and
                how they intend for it to benefit the Hackathon community in the long run. You will also get to hear about
                upcoming opportunities to join onto the open source project.
              </td>
            </tr>

            <!-- CHANGE DAY -->
            <tr class="timeline__page__day">
              <td colspan="5">Sunday</td>
            </tr>

            <tr>
              <td>Sleeping Room</td>
              <td>12am</td>
              <td>8am</td>
              <td>Sleep Time!</td>
              <td class="description">You've worked real hard, take some well deserved time to get some shut eye so that
              you are even just a little bit more refreshed in the morning.</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>8am</td>
              <td>10pm</td>
              <td>Breakfast</td>
              <td class="description">The best time of the morning... breakfast! We shall be serving this in the main room!</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>12pm</td>
              <td>-</td>
              <td>Hacking Ends!</td>
              <td class="description">Stop your hacking! The hackathon has drawn to an end :( But prizes are on the way!</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>12:30pm</td>
              <td>1:30pm</td>
              <td>Lunch</td>
              <td class="description">The last supper, come and feast on some amazing food at the Eangle & Ball. As before, please wait to be called!</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>2pm</td>
              <td>3pm</td>
              <td>Presentations</td>
              <td class="description">Get your chance to present your idea. The floor is all yours, but keep in mind; you only have two minutes!</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>3pm</td>
              <td>3:30pm</td>
              <td>Games Intermission</td>
              <td class="description">Whilst we are judging, come and chill out and play a few games. It'll be the perfect way to pass 20 minutes.</td>
            </tr>

            <tr>
              <td>Main Room</td>
              <td>2pm</td>
              <td>3pm</td>
              <td>Winners Presentation</td>
              <td class="description">Find out who is the BullHacks champion!</td>
            </tr>


          </table>
        </div>

    </section>

    <script>

      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        $('.main-content__button').html("Auto-refresh Active");
        checkCookie()
      }

      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return false;
      }

      function checkCookie(){
        if(getCookie("uniq") == false){
          Push.create("Notifications Enabled", {
            body: "Thank you for turning notifications on for MesaHub! I hope I can be of great help.",
            icon: "/img/bullhacks-head.png",
            timeout: 4000,
            onClick: function () {
              window.focus();
              this.close();
            }
          });
          setCookie("uniq", true, 999);
        }
      }
      checkCookie();

    </script>

    <% include ../partials/footers/footer-vue %>

  </body>
</html>
