.component{
  box-shadow: $greyBorder 0px 2px 4px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $greyBorder;

  &__left{
    width: 20%;
    background-color: $headerGrey;
    text-align: center;
    h4{
      padding: 10px 0px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    img{
      width: 50px;
      height: 50px;
    }
  }

  &__right{
    width: 80%;
    text-align: center;
    padding: 10px;
  }

  &__flex{
    display: flex;
    height: 100%;
  }

  &__one-third{
    width: 30%;
    display: inline-block;
    margin: 0px;
  }

  &__two-third{
    width: 67%;
    display: inline-block;
    margin: 0px;
  }


  &__header{
    text-align: center;
    background-color: $headerGrey;
    h3{
      padding: 10px 0px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }

  &__time{
    display: flex;
    &__title{
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
    }
  }

  &__announcement{
    max-height: 650px;
    height: 200px;
    overflow: hidden;
    &__right{
      text-align: left;
      padding: 0px;
      overflow-x: scroll;
      height: inherit;
      & > div:first-child{
        h5{
          display: inline-block !important;
        }
      }
      &__item{
        border-bottom: 1px solid $greyBorder;
        padding: 8px;
        &__header{
          h4, p, h5{
            display: inline-block;
            vertical-align: middle;
          }
          h4{
            font-weight: 600;
            color: $darkGrey;
            opacity: 0.8;
          }
          h5{
            font-weight: bold;
            color: red;
            padding: 0px 3px;
          }
        }
      }
      &__item:nth-last-child(1){
        border-bottom: 0px;
      }
    }
  }

  &__workshops{
    max-height: 380px;
    overflow: scroll;
    &__item{
      padding: 20px 15px;
      width: auto;
      img{
        width: 40px;
        height: 40px;
        border-radius: 360px;
        display: inline-block;
        vertical-align: middle;
      }
      &__info{
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

}

.component-container{
  margin: 20px auto 0px auto;
  &__one-third{
    position: relative;
    width: 28%;
    display: inline-block;
    div{
      vertical-align: top;
    }
  }
  &__two-third{
    position: relative;
    width: 68%;
    display: inline-block;
    vertical-align: top;
    div{
      vertical-align: top;
    }
  }
  &__left{
    float: left;
  }
  &__right{
    float: right;
  }
}


@media screen and (max-width: 1030px){
  .component{
    &__left{
      h4{
        display: none !important;
      }
    }
  }
}