.floating-box{
  border: 1px solid $greyBorder;
  box-shadow: $greyBorder 0px 2px 4px;
  background-color: $headerGrey;
  &__small{
    width: 40%;
    margin: auto;
  }
  &__large{
    width: 60%;
    margin: auto;
    padding: 30px 0px;
    box-sizing: border-box;
    form{
      input, textarea{
        margin: 10px auto 0px auto;
      }
      input[type="submit"]{
        margin-top: 30px;
        display: inline-block;
        width: 30%;
      }
    }
    &__icon{
      img{
        width: 60px;
        height: 60px;
      }
      margin: 20px auto;
    }
  }
  &__send-text, &__event{
    &__content{
      text-align: center;
      p{
        font-size: 13px;
      }

      form{
        textarea, input{
          display: block;
        }
        textarea{
          margin: 30px auto;
          min-height: 200px;
          width: 80%;
          max-width: 80%;
          max-height: 300px;
        }
        input[type="checkbox"], p{
          display: inline-block;
          font-size: 16px;
          vertical-align: middle;
        }
        input[type="checkbox"]{
          margin-right: 10px;
        }
        .button{
          margin: 30px auto;
        }
        .confirm-text.red{
          color: red;
        }
      }
      p:nth-last-child(1){
        padding: 0px 10% 35px 10%;
      }
    }
  }
  &__event{
    form{
      width: 80%;
      margin: auto;
      input.input-half:nth-last-child(2){
        float: right;
      }
      input.input-half:nth-last-child(3){
        float: left;
      }
    }
    input{
      width: 100%;
    }
    input.input-half{
      width: 48%;
      display: inline-block;vertical-align: top;

    }
  }
  &__content{
    text-align: center;
    img{
      width: 50%;
      text-align: center;

    }
    box-sizing: border-box;
    padding: 30px;
  }
  input[type="text"], textarea{
    -webkit-appearance: none;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $font;
    font-weight: 300;
    box-sizing: border-box;
  }
  &__login{
    &__icon{
      background-color: $lightBlue;
      width: 80px;
      height: 80px;
      border-radius: 360px;
      margin: 15px auto;
    }
    h3{
      padding: 10px;
    }
    form{
      input{
        width: 80%;
        display: block;
        margin: 5px auto;
      }
      input[type="text"], input[type="password"]{
        -webkit-appearance: none;
        padding: 10px 10px;
        border: none;
        outline: none;
        font-size: 14px;
        letter-spacing: 1px;
        font-family: $font;
        font-weight: 300;
        box-sizing: border-box;
      }
      input[type="submit"]{
        width: 30%;
        -webkit-appearance: none;
        outline: none;
        padding: 15px 0px;
        border: none;
        font-family: $font;
        font-size: 15px;
        background-color: $lightBlue;
        color: white;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}